@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
}

.parent-div{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
}

.sign-up{
    display: flex;
    justify-content: end;
}

.sign-up button{
    padding: 20px;
    border: none;
    background-color: #4A3AFF;
    color: #fff;
    border-radius: 56px;
    box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
    width: 140px;
}
.grid{
    display: flex;
    grid-template-columns: 45% 55%;
    align-items: center;
}
.grid-1{
    flex: 4;
    min-width: 400px;
    flex-shrink: 0;

}
.grid-2{
    flex: 5;
}
.forgot-pass{
    margin-bottom: 40px;
}

@media (max-width:767px){
    .grid{
        flex-direction: column-reverse;
    }
    .grid .grid-1 button{
        padding: 10px;
    }
    .grid .grid-1 input{
        padding: 10px;
        margin: 10px;
    }
    .grid .grid-1 input::placeholder{
        font-size: 14px;
    }
}


.grid-1{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.grid-1 h4{
    color: #170f49;
    font-size: 34px;
}

.grid-1 p{
    color: #6F6C90;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.grid-1 input{
    padding: 21px;
    width: 85%;
    margin-top: 10px;
    border: 1px solid #EFF0F6;
    border-radius: 46px;
    font-size: 18px;
    font-family: 'DM Sans';
    box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
}

.input-1{
    background-image: url(svg/user-line.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 24px;
}

.input-none{
    background: none;
}

.input-2{
    background-image: url(svg/lock.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 24px;
}

.grid-1 input:focus{
    border: 1px solid #170F49;
    outline: none;
    color: #170f49;
}

.grid-1 button{
    width: 85%;
    font-family: 'DM Sans';
    font-size: 18px;
    padding: 23px;
    background-color: #005ADE;
    border: none;
    color: #fff;
    border-radius: 86px;
    margin-top: 20px;
}

.forgot-pass{
    text-align: center;
    width: 85%;
    margin-top: 10px;
    cursor: pointer;
    color: #6F6C90;
    text-decoration: none;
}