@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 20px;
}

.header h4{
    font-size: 30px;
    margin-right: 30px;
}
.search-container{
    margin-right: 40px;
}
input[type='search']{
    background: #FFFFFF;
    border: 2px solid #0D6EFD;
    width: 400px;
    height: 35px; 
    padding: 10px;
    transition: all 0.3s;
    border-radius: 4px;
}
input[type='search']::placeholder{
    font-size: 15px;
    font-family: Inter;
}
input[type='search']:focus{
    outline: none;
    border-color: 2px solid #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    
}
.search-btn{
    background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
    width: 100px;
    margin-top: 5px;
    color: white ;
    height: 35px;
    border: none;
}
.header select{
    background: #FFFFFF;
    border: 2px solid #0D6EFD;
    height: 35px;
    width: 100px;
    font-family: Inter;
}





.parent-div{
    background-color: #fff;
    margin-right: 50px;
    margin-left: 50px;
}
.avatar-container{
    align-self: end;
    margin-left: 20px;
}
  
  .first-nav img {
    height: 40px;
  }
  


.avatar-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar{
    text-align: center;
}

.avatar span{
    display: block;
    text-align: center;
    color: #8B96A5;
}

.search-info{
    background-color: #F2F2F2;
    margin-top: 30px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
}

.search-info h1{
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 700;
    color: #000;
}
@media (max-width:600px){
    .search-info h1{
        font-size: 30px;
    }
    .checkout{
        padding: 10px;
    }
    .checkout-controls-1{
        margin-right: 10px;
    }
}

.search-info p{
    color: #969696;
}

.back-arrow{
    padding: 10px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.grid-1{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

.items{
    background: #F2F2F2;
    border-radius: 16px;
    cursor: pointer;
}

.items-1{
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.items-1 button{
    padding: 12px 18px;
    color: #E3964A;
    font-size: 24px;
    background: rgba(227, 150, 74, 0.24);
    border: none;
    border-radius: 8px;
}

.items-1-name{
    font-size: 12px;
    color: #969696;
    text-transform: uppercase;
}

.items-1-thing{
    font-size: 16px;
    color: #000;
    font-family: 'Poppins';
}

.items-1-price{
    font-family: 'Poppins';
    color: #969696;
    font-size: 16px;
}

.items-1-price-discount{
    color: #E34A4A;
}

/* The switch - the box around the slider */
.switch {
    font-size: 13px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #c7c6c6;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    inset: 0;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .switch input:checked + .slider {
    background: #969696;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #c7c6c6;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.6em);
  }

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.footer i{
    font-size: 24px;
    color: #969696;
}

.socials{
    display: flex;
    align-items: center;
    gap: 20px;
}

.dark-mode{
    display: flex;
    align-items: center;
    gap: 20px;
}

.checkout{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 30px;
}

.checkout-1{
    display: flex;
    margin-bottom: 20px;
}

.checkout-1-1{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.checkout-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-name p{
    color: #969696;
    font-size: 14px;
}

.checkout-name i{
    padding: 8px;
    background-color: #F2F2F2;
    color: #000;
    font-size: 24px;
    border-radius: 8px;
}

.checkout-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-controls-1{
    display: flex;
    gap: 10px;
}

.checkout-controls-1 i{
    padding: 8px;
    font-size: 24px;
    background-color: #F2F2F2;
    border-radius: 8px;
    cursor: pointer;
}

.checkout-controls-1 input{
    width: 48px;
    padding: 5px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #000;
    text-align: center;
}

.canceled{
    color: #969696;
    text-decoration: line-through;
}

.discounted{
    color: #E34A4A;
}

.checkout-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkout-table{
    display: flex;
    justify-content: space-between;
}

.info{
    color: #969696;
}

.total{
    color: #000;
}

.coupon{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.coupon input{
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Poppins';
    border: 1px solid #969696;
    outline: none;
    border-radius: 5px;
    width: 80%;
}

.coupon button{
    padding: 12px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 8px;
    width: 72px;
}

.checkout-final{
    padding: 12px;
    font-family: 'Poppins';
    color: #E3964A;
    border: none;
    background-color: rgba(227, 150, 74, 0.24);
    border-radius: 8px;
}

@media all and (max-width: 668px){

    .parent-div{
        background-color: #fff;
        margin-right: 10px;
        margin-left: 10px;
    }

    .search-info{
        padding: 20px;
        gap: 10px;
    }
    

    .checkout{
        display: grid;
        grid-template-columns: 100%;
        margin-top: 30px;
    }

    .grid-1{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 2%;
    }
    

}

.items img{
    width: 100%;
}